# IDE project settings
/.idea/
*.code-workspace
/.vscode/

# Python bytecode
*.py[cod]

# test outputs, coverage, etc.
.coverage
/htmlcov/
.pytest_cache/

# vim swap files
.*.sw?

# configuration files
/config

# variable data (runtime files, test files for processing, ...)
/resources/sample_data/
